<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="app.myexpl"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" >
        <activity android:name="MyExpl"
                  android:label="@string/app_name"
		  android:icon="@drawable/myexpl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/head_hex_view" android:name="HeadHexViewer" 
            android:launchMode="singleTop"
            android:icon="@drawable/hexview">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:label="@string/mask_to" android:name="MaskTo" android:launchMode="singleTop"
            android:icon="@drawable/mask">/
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*.klf" />
                <data android:mimeType="*/*.kle" />
            </intent-filter>
        </activity>
        </application>
</manifest> 
